/out/
/bin/
/out-asan/
/bin-asan/
/out-tsan/
/bin-tsan/
/out-ubsan/
/bin-ubsan/
/out-lix/
/bin-lix/
/out-prof/
/bin-prof/
/dist/
/testdata/generated/
/third_party/*
!/third_party/wuffs/
.DS_Store
*.o
*.dSYM
