/out/
/bin/
/out-asan/
/bin-asan/
/out-tsan/
/bin-tsan/
/out-ubsan/
/bin-ubsan/
/out-lix/
/bin-lix/
/out-prof/
/bin-prof/
/out-render-san/
/dist/
/testdata/generated/
/third_party/*
!/third_party/wuffs/
!/third_party/lunasvg/
!/third_party/plutovg/
!/third_party/fonts/
!/third_party/quickjs/
!/third_party/mermaid/
!/third_party/mathjax/
!/third_party/mathjax-newcm-font/
!/third_party/miniz/
.DS_Store
*.o
*.dSYM
